# setGeoID

Input: compiled_data.csv

Output: sdData.csv

Task: Convert the primary key to GeoID (stored in the first column of the input file)

In [89]:
# Initialize variables
input_filename = "data/compiled_data.txt"
output_filename = 'data/sdData.csv'

In [90]:
str(input_filename)

'data/compiled_data.txt'

In [91]:
# create functions (if needed)
def decimal_point_exists(s):
    return "." in s

# used to convert varying length census tract numbers to 6-digit tract numbers based on the rule described in the function
def format_number(num):
    num_str = str(float(num))
    integer_part, decimal_part = num_str.split('.')
    integer_part_padded = integer_part.zfill(4)
    return integer_part_padded + decimal_part.ljust(2, '0')

# Example usage
test = format_number(54.5)
print(test)
print(format_number(12.3))    # Output: '001230'
print(format_number(1))       # Output: '000100'
print(format_number(4556.3))  # Output: '455630'

005450
001230
000100
455630

## Load FIPS codes into a 2D array

In [92]:
count2 = 0
# empty 2D array with 2 rows
FIPScodes = [[] for _ in range(2)]

with open('data\\county_FIPScodes.txt', 'r') as input_file:
    for line in input_file:
        count2 = count2 + 1;
        words = line.strip().split()
        #print(words)
        if (count2%2 == 0):
            if (len(words) == 4):
                FIPScodes[0].append(words[-4] + ' ' + words[-3])
            else:
                FIPScodes[0].append(words[-3])
            FIPScodes[1].append(words[-1])
        # this gives the county name and code of the 3rd county
        # FIPScodes[0][3], FIPScodes[1][3]

In [93]:
len(FIPScodes), FIPScodes[0][3], FIPScodes[1][3]

(2, 'Benton', '007')

FIPScodes[0][3], FIPScodes[1][3] gives county name and tract number respectively. Note block group is always a single digit number so there is no need for translation for block group number.

## Import data

The following cell imports the data into different hard-coded arrays. This can be a generalized later.

In [94]:
count = 0
err = 0
blocks = []
census_tracts = []
counties = [] # updated to counties_FIPS later (use counties_FIPS)
population_den = []
area = []
female_per = []
children_living_with_single_parents = []
owner_occupied = []
some_college_more = []
dropped_out_schoolOrCollege = []
sep_wid_div = []
unemp = []
debt_housing_units = []
housing_retirement_income = []
females_per_tier1_jobs = []
household_income_less_than_20k = []
household_size_greater_than_equal_3 = []
age_35_to_54 = []
family_household = []
household_self_emp = []
hh_dividends = []
yr_built = []
electricity_cost_per = []
gross_rent = []
pool_publicTransport = []
bike = []

with open(input_filename, 'r') as input_file:
    for line in input_file:
        count = count + 1
        words = line.strip().split()
        if len(words) < 32:
                print(words)
                print('count: ')
                print(count)
        if count != 1:
            # blocks.append(words[1])
            blocks.append(words[2].replace(',', ''))
            census_tracts.append(words[5].replace(',', ''))
            counties.append(words[6].replace(',', ''))
            
            population_den.append(words[9])
            area.append(words[10])
            female_per.append(words[11])
            children_living_with_single_parents.append(words[12])
            owner_occupied.append(words[13])
            some_college_more.append(words[14])
            dropped_out_schoolOrCollege.append(words[15])
            sep_wid_div.append(words[16])
            unemp.append(words[17])
            debt_housing_units.append(words[18])
            housing_retirement_income.append(words[19])
            females_per_tier1_jobs.append(words[20])
            household_income_less_than_20k.append(words[21])
            household_size_greater_than_equal_3.append(words[22])
            age_35_to_54.append(words[23])
            family_household.append(words[24])
            household_self_emp.append(words[25])
            hh_dividends.append(words[26])
            yr_built.append(words[27])
            electricity_cost_per.append(words[28])
            gross_rent.append(words[29])
            pool_publicTransport.append(words[30])
            bike.append(words[31])  

print("length of blocks = ", len(blocks), ", of tracts = ", len(census_tracts), ", of counties = ", len(counties))

['Unnamed:', '0', 'population_den', 'Area', 'female_per', 'children_living_with_single_parents', 'owner_occupied', 'some_college_more', 'dropped_out_schoolOrCollege', 'sep_wid_div', 'unemp', 'debt_housing_units', 'housing_retirement_income', 'females_per_tier1_jobs', 'household_income_less_than_20k', 'household_size_greater_than_equal_3', 'age_35_to_54', 'family_household', 'household_self_emp', 'hh_dividends', 'yr_built', 'electricity_cost_per', 'gross_rent', 'pool_publicTransport', 'bike']
count:
1
length of blocks =  2294 , of tracts =  2294 , of counties =  2294

In [95]:
counties_FIPS = [None] * len(counties)
for i, county in enumerate(counties):
    for j in range(len(FIPScodes[0])):
        if (county == FIPScodes[0][j]):
            counties_FIPS[i] = FIPScodes[1][j]

In [96]:
key_AR = []

for i in range(len(blocks)):
    elem3 = blocks[i]
    elem2 = census_tracts[i]
    # print some random data before and after formatting to see the effect of format number function
    if i == 67:
        print(elem2)
    elem2 = format_number(elem2)
    if i == 67:
        print(elem2)
 
    elem1 = str('05') + str(counties_FIPS[i]) # append 05 for Arkansas
    result_elem = f"{elem1}-{elem2}-{elem3}"
    key_AR.append(result_elem)

print(key_AR[67])

201.02
020102
05007-020102-4

In [97]:
# combine the arrays
result_array = []

for i in range(len(key_AR)):
    concatenated_string = f"{key_AR[i]}, {population_den[i]}, {area[i]}, {female_per[i]},\
 {children_living_with_single_parents[i]}, {owner_occupied[i]},\
 {some_college_more[i]}, {dropped_out_schoolOrCollege[i]}, {sep_wid_div[i]}, {unemp[i]},\
 {debt_housing_units[i]}, {housing_retirement_income[i]},\
 {females_per_tier1_jobs[i]}, {household_income_less_than_20k[i]}, {household_size_greater_than_equal_3[i]},\
 {age_35_to_54[i]}, {family_household[i]}, {household_self_emp[i]}, {hh_dividends[i]}, {yr_built[i]},\
 {electricity_cost_per[i]}, {gross_rent[i]}, {pool_publicTransport[i]}, {bike[i]}"
    
    result_array.append(concatenated_string)
"""population_den
area
female_per
children_living_with_single_parents
owner_occupied
some_college_more
dropped_out_schoolOrCollege
sep_wid_div
unemp
debt_housing_units
housing_retirement_income
females_per_tier1_jobs
household_income_less_than_20k
household_size_greater_than_equal_3
age_35_to_54
family_household
household_self_emp
hh_dividends
yr_built
electricity_cost_per
gross_rent
pool_publicTransport
bike"""
print("length = ", len(result_array), ", ex: ", result_array[7])
for i in range(len(result_array)):
    if i > 140 and i < 160:
        print("i = ", i, "cell = ", result_array[i])

length =  2294 , ex:  05001-480500-2, 2476.3, 0.75, 0.52, 0.96, 262, 0.54, 0, 0.2, 0.03, 0.68, 0.27, 0.46, 0.79, 0.25, 0.25, 0.65, 0.08, 0.04, 1966, 0.53, 0.16, 0.05, 0
i =  141 cell =  05007-020805-1, 803.4, 1.89, 0.47, 0.04, 562, 0.78, 0, 0.09, 0, 0.71, 0.32, 0.42, 0.96, 0.35, 0.21, 0.9, 0.04, 0.33, 1999, 0.71, 0, 0.04, 0
i =  142 cell =  05007-020805-2, 490.8, 3.84, 0.42, 0.14, 564, 0.69, 0, 0.29, 0.06, 0.84, 0.27, 0.38, 0.88, 0.25, 0.25, 0.58, 0.2, 0.28, 1980, 0.59, 0.06, 0.06, 0
i =  143 cell =  05007-020805-3, 1118.7, 0.97, 0.51, 0.18, 435, 0.69, 0, 0.1, 0.02, 0.5, 0.33, 0.41, 0.99, 0.24, 0.19, 0.78, 0.12, 0.45, 1985, 0.73, 0.22, 0.16, 0
i =  144 cell =  05007-020806-1, 761.7, 1.32, 0.55, 0, 484, 0.78, 0, 0.22, 0.02, 0.5, 0.64, 0.26, 0.97, 0.11, 0.07, 0.64, 0.02, 0.31, 1993, 0.79, 0, 0.04, 0
i =  145 cell =  05007-020806-2, 219.4, 8.42, 0.46, 0.09, 602, 0.52, 0, 0.28, 0.01, 0.47, 0.24, 0.27, 0.88, 0.35, 0.21, 0.49, 0.02, 0.23, 2001, 0.75, 0, 0.02, 0
i =  146 cell =  05007-020806-3, 381.6, 9.66, 0.49, 0.04, 1117, 0.79, 0, 0.1, 0.01, 0.58, 0.22, 0.82, 0.99, 0.54, 0.34, 0.85, 0.21, 0.44, 2004, 0.4, 0, 0.07, 0
i =  147 cell =  05007-020903-1, 4533.6, 0.58, 0.41, 0.31, 424, 0.8, 0, 0.22, 0.01, 0.64, 0.24, 0.66, 0.93, 0.56, 0.26, 0.66, 0.03, 0.19, 2005, 0.76, 0, 0.02, 0
i =  148 cell =  05007-020903-2, 5480.9, 0.44, 0.6, 0.14, 549, 0.78, 0, 0.22, 0.02, 0.92, 0.15, 0.41, 0.99, 0.44, 0.26, 0.9, 0.02, 0.2, 2007, 0.4, 0.08, 0.02, 0
i =  149 cell =  05007-020904-1, 5238.2, 0.62, 0.51, 0.02, 955, 0.75, 0.03, 0.11, 0.02, 0.91, 0.07, 0.59, 0.87, 0.58, 0.29, 0.73, 0.08, 0.14, 2004, 0.19, 0.09, 0.1, 0
i =  150 cell =  05007-020904-2, 1964.1, 2.16, 0.56, 0.1, 953, 0.75, 0, 0.08, 0.01, 0.91, 0.11, 0.62, 1, 0.65, 0.25, 0.95, 0.03, 0.11, 2006, 0.31, 0.06, 0.07, 0
i =  151 cell =  05007-020905-1, 71.5, 14.22, 0.47, 0.06, 328, 0.45, 0, 0.12, 0.01, 0.55, 0.34, 0.63, 0.93, 0.45, 0.31, 0.87, 0.32, 0, 2002, 0.53, 0, 0.13, 0
i =  152 cell =  05007-020905-2, 60.1, 31.34, 0.57, 0.47, 638, 0.42, 0, 0.13, 0.01, 0.43, 0.26, 0.32, 0.8, 0.4, 0.28, 0.71, 0.14, 0.09, 1986, 0.29, 0, 0.02, 0
i =  153 cell =  05007-020906-1, 295, 8.1, 0.49, 0.01, 635, 0.67, 0, 0.16, 0.02, 0.85, 0.19, 0.56, 1, 0.48, 0.34, 0.67, 0.07, 0.21, 2006, 0.31, 0.02, 0.1, 0
i =  154 cell =  05007-020906-2, 94, 17.17, 0.5, 0.18, 442, 0.59, 0, 0.06, 0.05, 0.57, 0.1, 0.36, 0.89, 0.69, 0.31, 0.8, 0.17, 0.24, 1997, 0.4, 0.11, 0.25, 0
i =  155 cell =  05007-020906-3, 452.4, 2.72, 0.57, 0.21, 408, 0.85, 0.37, 0.11, 0.06, 0.7, 0.32, 0.23, 1, 0.71, 0.36, 0.89, 0.27, 0.16, 2004, 0.27, 1, 0, 0
i =  156 cell =  05007-021001-1, 82.7, 8.51, 0.4, 0.3, 213, 0.38, 0.52, 0.22, 0.02, 0.45, 0.12, 0.12, 0.83, 0.29, 0.29, 0.65, 0.02, 0.19, 1978, 0.57, 0.23, 0.24, 0
i =  157 cell =  05007-021001-2, 43.2, 49.96, 0.58, 0.49, 532, 0.32, 0.25, 0.2, 0, 0.55, 0.15, 0.42, 0.89, 0.66, 0.38, 0.85, 0.13, 0.21, 1993, 0.29, 0, 0.02, 0
i =  158 cell =  05007-021001-3, 25.5, 38.57, 0.47, 0.36, 243, 0.42, 0, 0.24, 0, 0.56, 0.18, 0.14, 0.92, 0.34, 0.39, 0.72, 0.1, 0.04, 1994, 0.58, 0, 0.03, 0
i =  159 cell =  05007-021001-4, 380.7, 5.09, 0.4, 0.4, 212, 0.33, 0, 0.22, 0, 0.89, 0.08, 0.34, 0.86, 0.61, 0.29, 0.79, 0.01, 0.02, 1992, 0.47, 0.06, 0.23, 0

In [100]:
import csv
count = 0
# heading = ["key_AR", "population_den", "area", "male_per", "female_per", "household_size", "children_living_with_single_parents", "owner_occupied", "two_or_more_vehicles_per_household", "some_college_more", "dropped_out_schoolOrCollege", "sep_wid_div", "unemp", "debt_housing_units", "housing_retirement_income", "males_per_tier1_jobs", "females_per_tier1_jobs", "household_income_less_than_20k", "household_size_greater_than_equal_3"]
# removes quotation marks
with open(output_file, 'w', newline='') as file:
    writer = csv.writer(file, delimiter=',', quoting=csv.QUOTE_NONE, escapechar='\\')
    if count == 0:
        file.write("key,population_den,area,female_per,children_living_with_single_parents,owner_occupied,some_college_more,dropped_out_schoolOrCollege,sep_wid_div,unemp,debt_housing_units,housing_retirement_income,females_per_tier1_jobs,household_income_less_than_20k,household_size_greater_than_equal_3,age_35_to_54,family_household,household_self_emp,hh_dividends,yr_built,electricity_cost_per,gross_rent,pool_publicTransport,bike\n")
    for row in result_array:
        writer.writerow(row.split(', '))